## Working with Websites that have JS interaction

In [1]:
import requests
from bs4 import BeautifulSoup
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
url="https://www.naukri.com/data-science-jobs"
resp=requests.get(url,headers=headers).text
print(resp)

<!DOCTYPE html> <html lang="en"> <head> <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" /> <link rel="dns-prefetch preconnect" href="//static.naukri.com"> <link rel="dns-prefetch preconnect" href="//img.naukri.com"> <link rel="dns-prefetch preconnect" href="//logs.naukri.com"> <link rel="dns-prefetch preconnect" href="//lg.naukri.com"> <link rel="dns-prefetch" href="https://www.googletagmanager.com" /> <base href="//www.naukri.com" /> <link rel="manifest" href="./manifest.json"> <link rel="preload" as="style" href="//static.naukri.com/s/7/109/c/main.f59532c6.min.css"/> <link rel="preload" as="script" href="//static.naukri.com/s/7/109/j/main.3d561068.min.js"> <script>
        window.ipAddress = "www.naukri.com";
        window.DEBUG = true;
        window.appId = 135;
                    var isCrawler = false;
                            var ucBrowser = false;
            </script>   <style type="text/css"> .splScrn{ height: 100%; } body{margin:0} .nkIcon { width: 9rem; margin: auto; position: relative; padding-top: 95px; } #circleG { width: 9rem; margin: auto } .circleG { background-color: #2DABE2; float: left; height: 14px; margin: 5px; width: 14px; animation-name: bounce_circleG; -o-animation-name: bounce_circleG; -ms-animation-name: bounce_circleG; -webkit-animation-name: bounce_circleG; -moz-animation-name: bounce_circleG; animation-duration: 1.8s; -o-animation-duration: 1.8s; -ms-animation-duration: 1.8s; -webkit-animation-duration: 1.8s; -moz-animation-duration: 1.8s; animation-iteration-count: infinite; -o-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-direction: normal; -o-animation-direction: normal; -ms-animation-direction: normal; -webkit-animation-direction: normal; -moz-animation-direction: normal; border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50% } #root, body, html { height: 100% } #circleG_1 { animation-delay: .45s; -o-animation-delay: .45s; -ms-animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s } #circleG_2 { animation-delay: .65s; -o-animation-delay: .65s; -ms-animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s } #circleG_3 { animation-delay: .85s; -o-animation-delay: .85s; -ms-animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s } #circleG_4 { animation-delay: 1.05s; -o-animation-delay: 1.05s; -ms-animation-delay: 1.05s; -webkit-animation-delay: 1.05s; -moz-animation-delay: 1.05s } #circleG_5 { animation-delay: 1.25s; -o-animation-delay: 1.25s; -ms-animation-delay: 1.25s; -webkit-animation-delay: 1.25s; -moz-animation-delay: 1.25s } @keyframes bounce_circleG { 50% { width: 10px; height: 10px; margin: 7px; background-color: rgba(12, 109, 182, 0) } } </style> </head> <body>  <noscript> <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX744H"height="0" width="0" style="display:none;visibility:hidden"></iframe> </noscript>  <div id="root"> <div class="splScrn"> <div class="row top"> <div class="nkIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 315 315"><style type="text/css"> .st0{fill:#2DABE2;} .st1{fill:#0C6DB6;} .st2{fill:#EC2227;} .st3{fill:#444444;} .st4{fill-rule:evenodd;clip-rule:evenodd;fill:#EC2227;} .st5{fill-rule:evenodd;clip-rule:evenodd;fill:#0C6DB6;} </style><path class="st0" d="M0 200.8h10v4.6c1.5-1.9 3-3.2 4.5-4 1.5-0.8 3.4-1.2 5.6-1.2 3 0 5.3 0.9 7 2.7 1.7 1.8 2.5 4.5 2.5 8.2v17.8H18.8v-15.4c0-1.8-0.3-3-1-3.7 -0.7-0.7-1.6-1.1-2.7-1.1 -1.3 0-2.4 0.5-3.2 1.5 -0.8 1-1.2 2.8-1.2 5.3v13.4H0V200.8z"/><path class="st0" d="M45.8 209.9l-10.3-1.1c0.4-1.8 0.9-3.2 1.7-4.2 0.7-1 1.8-1.9 3.2-2.7 1-0.5 2.3-1 4.1-1.3 1.7-0.3 3.6-0.4 5.6-0.4 3.2 0 5.8 0.2 7.8 0.5 2 0.4 3.6 1.1 4.9 2.3 0.9 0.8 1.6 1.9 2.2 3.4 0.5 1.5 0.8 2.8 0.8 4.2v12.4c0 1.3 0.1 2.4 0.3 3.1 0.2 0.7 0.5 1.7 1.1 2.9H56.9c-0.4-0.7-0.7-1.3-0.8-1.6 -0.1-0.4-0.2-1-0.4-1.8 -1.4 1.4-2.8 2.3-4.2 2.9 -1.9 0.8-4.1 1.2-6.6 1.2 -3.3 0-5.9-0.8-7.6-2.3 -1.7-1.5-2.6-3.5-2.6-5.7 0-2.1 0.6-3.9 1.9-5.2 1.2-1.4 3.6-2.4 6.9-3.1 4-0.8 6.6-1.4 7.8-1.7 1.2-0.3 2.5-0.8 3.8-1.3 0-1.3-0.3-2.2-0.8-2.8 -0.5-0.5-1.5-0.8-2.9-0.8 -1.8 0-3.1 0.3-4 0.8C46.8 207.8 46.2 208.6 45.8 209.9zM55.1 215.5c-1.5 0.5-3 1-4.6 1.4 -2.2 0.6-3.6 1.2-4.1 1.7 -0.6 0.6-0.9 1.2-0.9 2 0 0.8 0.3 1.5 0.9 2.1 0.6 0.5 1.5 0.8 2.6 0.8 1.2 0 2.3-0.3 3.3-0.9 1-0.6 1.8-1.3 2.2-2.1 0.4-0.8 0.6-1.9 0.6-3.3V215.5z"/><path class="st0" d="M101.6 228.8h-10v-4.5c-1.5 1.9-3 3.2-4.5 4 -1.5 0.8-3.4 1.2-5.6 1.2 -3 0-5.3-0.9-6.9-2.7 -1.7-1.8-2.5-4.5-2.5-8.2v-17.8h10.8v15.4c0 1.8 0.3 3 1 3.7 0.7 0.7 1.6 1.1 2.7 1.1 1.3 0 2.3-0.5 3.2-1.5 0.8-1 1.2-2.8 1.2-5.3v-13.5h10.7V228.8z"/><path class="st0" d="M108.1 190.1h11v20l8-9.3h13.2l-10 9.8 10.6 18.2h-12.1l-5.7-11.2 -4 3.9v7.3h-11V190.1z"/><path class="st0" d="M144.2 200.8h10v4.6c1-2 2-3.4 3-4.1 1-0.7 2.3-1.1 3.8-1.1 1.6 0 3.3 0.5 5.2 1.5l-3.3 7.6c-1.3-0.5-2.3-0.8-3-0.8 -1.4 0-2.5 0.6-3.3 1.7 -1.1 1.6-1.7 4.7-1.7 9.2v9.4h-10.8V200.8z"/><path class="st0" d="M168.5 190.1h10.7v7.3h-10.7V190.1zM168.5 200.8h10.7v28h-10.7V200.8z"/><path class="st1" d="M216.1 217.8l10.2 1.2c-0.6 2.1-1.5 4-2.8 5.5 -1.3 1.6-2.9 2.8-4.9 3.6 -2 0.9-4.5 1.3-7.6 1.3 -3 0-5.4-0.3-7.4-0.8 -2-0.6-3.7-1.4-5.1-2.7 -1.4-1.2-2.5-2.7-3.3-4.4 -0.8-1.7-1.2-3.9-1.2-6.6 0-2.9 0.5-5.3 1.5-7.2 0.7-1.4 1.7-2.7 3-3.8 1.2-1.1 2.5-1.9 3.9-2.5 2.1-0.9 4.8-1.3 8-1.3 4.6 0 8.1 0.8 10.5 2.5 2.4 1.6 4.1 4 5.1 7.2l-10.1 1.3c-0.3-1.2-0.9-2.1-1.7-2.7 -0.8-0.6-2-0.9-3.4-0.9 -1.8 0-3.2 0.6-4.3 1.9 -1.1 1.3-1.6 3.2-1.6 5.8 0 2.3 0.5 4 1.6 5.2 1.1 1.2 2.5 1.8 4.2 1.8 1.4 0 2.6-0.4 3.5-1.1C214.9 220.4 215.7 219.3 216.1 217.8z"/><path class="st1" d="M230 214.9c0-4.3 1.4-7.8 4.3-10.6 2.9-2.8 6.8-4.2 11.7-4.2 5.6 0 9.8 1.6 12.7 4.9 2.3 2.6 3.5 5.8 3.5 9.7 0 4.3-1.4 7.8-4.3 10.6 -2.9 2.8-6.8 4.1-11.9 4.1 -4.5 0-8.1-1.1-10.9-3.4C231.7 223.2 230 219.5 230 214.9zM240.7 214.8c0 2.5 0.5 4.3 1.5 5.5 1 1.2 2.3 1.8 3.8 1.8 1.5 0 2.8-0.6 3.8-1.8 1-1.2 1.5-3.1 1.5-5.7 0-2.4-0.5-4.2-1.5-5.4 -1-1.2-2.2-1.8-3.7-1.8 -1.6 0-2.9 0.6-3.9 1.8C241.2 210.5 240.7 212.4 240.7 214.8z"/><path class="st1" d="M267.4 200.8h10v4.1c1.4-1.7 2.9-2.9 4.4-3.6 1.5-0.7 3.2-1.1 5.3-1.1 2.2 0 4 0.4 5.3 1.2 1.3 0.8 2.4 2 3.2 3.5 1.7-1.8 3.2-3.1 4.6-3.7 1.4-0.7 3.1-1 5.1-1 3 0 5.3 0.9 7 2.7 1.7 1.8 2.5 4.6 2.5 8.4v17.6h-10.8v-16c0-1.3-0.2-2.2-0.7-2.8 -0.7-1-1.6-1.4-2.7-1.4 -1.3 0-2.3 0.5-3 1.4 -0.8 0.9-1.2 2.4-1.2 4.4v14.5h-10.8v-15.4c0-1.2-0.1-2.1-0.2-2.5 -0.2-0.7-0.6-1.3-1.2-1.7 -0.6-0.4-1.2-0.6-2-0.6 -1.2 0-2.3 0.5-3 1.4 -0.8 0.9-1.2 2.5-1.2 4.6v14.3h-10.8V200.8z"/><circle class="st2" cx="187.7" cy="224.2" r="4.6"/><path class="st3" d="M163.1 251.5v-11.3h2.3v11.3H163.1z"/><path class="st3" d="M175 251.5h-2.2v-4.2c0-0.9 0-1.5-0.1-1.7 -0.1-0.3-0.2-0.5-0.4-0.6 -0.2-0.1-0.5-0.2-0.8-0.2 -0.4 0-0.7 0.1-1 0.3 -0.3 0.2-0.5 0.5-0.6 0.8 -0.1 0.3-0.2 1-0.2 1.9v3.7h-2.2v-8.2h2v1.2c0.7-0.9 1.6-1.4 2.7-1.4 0.5 0 0.9 0.1 1.3 0.3 0.4 0.2 0.7 0.4 0.9 0.7 0.2 0.3 0.3 0.6 0.4 0.9 0.1 0.3 0.1 0.8 0.1 1.5V251.5z"/><path class="st3" d="M184.7 251.5h-2v-1.2c-0.3 0.5-0.7 0.8-1.2 1 -0.5 0.2-0.9 0.3-1.4 0.3 -0.9 0-1.7-0.4-2.4-1.1 -0.7-0.8-1-1.8-1-3.2 0-1.4 0.3-2.4 1-3.2 0.7-0.7 1.5-1.1 2.5-1.1 0.9 0 1.7 0.4 2.4 1.1v-4.1h2.2V251.5zM178.9 247.2c0 0.9 0.1 1.5 0.4 1.9 0.3 0.6 0.8 0.8 1.5 0.8 0.5 0 0.9-0.2 1.3-0.6 0.4-0.4 0.5-1.1 0.5-1.9 0-0.9-0.2-1.6-0.5-2 -0.3-0.4-0.8-0.6-1.3-0.6 -0.5 0-0.9 0.2-1.3 0.6C179.1 245.8 178.9 246.4 178.9 247.2z"/><path class="st3" d="M186.8 242.2v-2h2.2v2H186.8zM186.8 251.5v-8.2h2.2v8.2H186.8z"/><path class="st3" d="M192.8 245.8l-2-0.4c0.2-0.8 0.6-1.4 1.1-1.8 0.5-0.4 1.3-0.6 2.4-0.6 1 0 1.7 0.1 2.2 0.3 0.5 0.2 0.8 0.5 1 0.9 0.2 0.4 0.3 1 0.3 1.9l0 2.5c0 0.7 0 1.2 0.1 1.6 0.1 0.3 0.2 0.7 0.4 1.1h-2.1c-0.1-0.1-0.1-0.4-0.2-0.6 0-0.1-0.1-0.2-0.1-0.3 -0.4 0.4-0.8 0.6-1.2 0.8 -0.4 0.2-0.9 0.3-1.3 0.3 -0.8 0-1.5-0.2-2-0.7 -0.5-0.5-0.7-1-0.7-1.7 0-0.5 0.1-0.9 0.3-1.2 0.2-0.4 0.5-0.6 0.9-0.8 0.4-0.2 1-0.4 1.7-0.5 1-0.2 1.7-0.4 2.1-0.5v-0.2c0-0.4-0.1-0.7-0.3-0.9 -0.2-0.2-0.6-0.3-1.2-0.3 -0.4 0-0.7 0.1-0.9 0.2C193.1 245.1 193 245.4 192.8 245.8zM195.7 247.5c-0.3 0.1-0.7 0.2-1.3 0.3 -0.6 0.1-1 0.3-1.2 0.4 -0.3 0.2-0.4 0.5-0.4 0.8 0 0.3 0.1 0.6 0.3 0.8 0.2 0.2 0.5 0.3 0.9 0.3 0.4 0 0.8-0.1 1.1-0.4 0.3-0.2 0.4-0.4 0.5-0.7 0.1-0.2 0.1-0.5 0.1-1.1V247.5z"/><path class="st3" d="M199.9 240.2h2.2v1.5c0 0.6-0.1 1.1-0.2 1.5 -0.1 0.4-0.3 0.7-0.6 1 -0.3 0.3-0.7 0.5-1.1 0.7l-0.4-0.9c0.4-0.1 0.7-0.3 0.9-0.6 0.2-0.3 0.3-0.6 0.3-1h-1V240.2z"/><path class="st3" d="M203 249.1l2.2-0.3c0.1 0.4 0.3 0.7 0.6 1 0.3 0.2 0.7 0.3 1.2 0.3 0.6 0 1-0.1 1.3-0.3 0.2-0.1 0.3-0.3 0.3-0.6 0-0.2-0.1-0.3-0.2-0.4 -0.1-0.1-0.3-0.2-0.7-0.3 -1.7-0.4-2.8-0.7-3.3-1.1 -0.6-0.4-1-1.1-1-1.8 0-0.7 0.3-1.3 0.8-1.8 0.6-0.5 1.4-0.7 2.6-0.7 1.1 0 1.9 0.2 2.5 0.5 0.5 0.4 0.9 0.9 1.1 1.6l-2 0.4c-0.1-0.3-0.3-0.6-0.5-0.7 -0.2-0.2-0.6-0.3-1-0.3 -0.6 0-1 0.1-1.2 0.2 -0.2 0.1-0.2 0.3-0.2 0.4 0 0.2 0.1 0.3 0.2 0.4 0.2 0.1 0.9 0.3 2 0.6 1.2 0.3 2 0.6 2.4 1 0.5 0.4 0.7 0.9 0.7 1.6 0 0.8-0.3 1.4-0.9 1.9 -0.6 0.5-1.6 0.8-2.8 0.8 -1.1 0-2-0.2-2.6-0.7C203.6 250.5 203.2 249.9 203 249.1z"/><path class="st3" d="M216.9 251.5v-11.3h2.2l4.6 7.5v-7.5h2.1v11.3h-2.3l-4.5-7.4v7.4H216.9z"/><path class="st3" d="M227.8 247.3c0-0.7 0.2-1.4 0.5-2.1 0.4-0.7 0.9-1.2 1.5-1.5 0.6-0.4 1.4-0.5 2.2-0.5 1.2 0 2.2 0.4 3 1.2 0.8 0.8 1.2 1.8 1.2 3 0 1.2-0.4 2.3-1.2 3.1 -0.8 0.8-1.8 1.2-3 1.2 -0.7 0-1.5-0.2-2.1-0.5 -0.7-0.3-1.2-0.8-1.6-1.5C228 249 227.8 248.2 227.8 247.3zM230 247.4c0 0.8 0.2 1.4 0.6 1.9 0.4 0.4 0.9 0.6 1.4 0.6 0.6 0 1-0.2 1.4-0.6 0.4-0.4 0.6-1.1 0.6-1.9 0-0.8-0.2-1.4-0.6-1.8 -0.4-0.4-0.9-0.6-1.4-0.6 -0.6 0-1 0.2-1.4 0.6C230.2 245.9 230 246.6 230 247.4z"/><path class="st3" d="M237.9 251.5v-2.2h2.2v2.2H237.9z"/><path class="st3" d="M247.4 251.5h-2.2v-8.2c-0.8 0.7-1.7 1.3-2.8 1.6v-2c0.6-0.2 1.2-0.5 1.8-1.1 0.7-0.5 1.1-1.1 1.4-1.8h1.8V251.5z"/><path class="st3" d="M259.5 240.2h2.3v7.1c0 0.9-0.1 1.7-0.2 2.2 -0.2 0.7-0.6 1.2-1.2 1.6 -0.6 0.4-1.3 0.6-2.3 0.6 -1.1 0-2-0.3-2.6-0.9 -0.6-0.6-0.9-1.5-0.9-2.7l2.1-0.2c0 0.6 0.1 1.1 0.3 1.4 0.2 0.4 0.6 0.6 1.1 0.6 0.5 0 0.9-0.1 1.1-0.4 0.2-0.3 0.3-0.9 0.3-1.8V240.2z"/><path class="st3" d="M263.7 247.3c0-0.7 0.2-1.4 0.5-2.1 0.4-0.7 0.9-1.2 1.5-1.5 0.6-0.4 1.4-0.5 2.2-0.5 1.2 0 2.2 0.4 3 1.2 0.8 0.8 1.2 1.8 1.2 3 0 1.2-0.4 2.3-1.2 3.1 -0.8 0.8-1.8 1.2-3 1.2 -0.7 0-1.5-0.2-2.1-0.5 -0.7-0.3-1.2-0.8-1.6-1.5C263.9 249 263.7 248.2 263.7 247.3zM265.9 247.4c0 0.8 0.2 1.4 0.6 1.9 0.4 0.4 0.9 0.6 1.4 0.6 0.6 0 1-0.2 1.4-0.6 0.4-0.4 0.6-1.1 0.6-1.9 0-0.8-0.2-1.4-0.6-1.8 -0.4-0.4-0.9-0.6-1.4-0.6 -0.6 0-1 0.2-1.4 0.6C266.1 245.9 265.9 246.6 265.9 247.4z"/><path class="st3" d="M273.7 251.5v-11.3h2.2v4.1c0.7-0.8 1.5-1.1 2.4-1.1 1 0 1.8 0.4 2.5 1.1 0.7 0.7 1 1.8 1 3.1 0 1.4-0.3 2.5-1 3.2 -0.7 0.8-1.5 1.1-2.4 1.1 -0.5 0-0.9-0.1-1.4-0.3 -0.5-0.2-0.8-0.6-1.2-1v1.2H273.7zM275.9 247.2c0 0.8 0.1 1.5 0.4 1.9 0.4 0.6 0.9 0.9 1.5 0.9 0.5 0 0.9-0.2 1.2-0.6 0.3-0.4 0.5-1 0.5-1.9 0-0.9-0.2-1.6-0.5-2 -0.3-0.4-0.8-0.6-1.3-0.6 -0.5 0-0.9 0.2-1.3 0.6C276.1 245.8 275.9 246.4 275.9 247.2z"/><path class="st3" d="M287.3 247.8l2.2-0.2c0.1 0.7 0.4 1.3 0.8 1.6 0.4 0.4 1 0.5 1.6 0.5 0.7 0 1.3-0.2 1.7-0.5 0.4-0.3 0.6-0.7 0.6-1.1 0-0.3-0.1-0.5-0.2-0.7 -0.2-0.2-0.4-0.3-0.8-0.5 -0.3-0.1-0.9-0.3-1.8-0.5 -1.2-0.3-2.1-0.7-2.6-1.1 -0.7-0.6-1-1.4-1-2.3 0-0.6 0.2-1.1 0.5-1.6 0.3-0.5 0.8-0.9 1.4-1.1 0.6-0.3 1.4-0.4 2.2-0.4 1.4 0 2.5 0.3 3.2 0.9 0.7 0.6 1.1 1.4 1.1 2.5l-2.3 0.1c-0.1-0.6-0.3-1-0.6-1.3 -0.3-0.3-0.8-0.4-1.4-0.4 -0.7 0-1.2 0.1-1.6 0.4 -0.2 0.2-0.4 0.4-0.4 0.7 0 0.3 0.1 0.5 0.3 0.7 0.3 0.2 1 0.5 2.1 0.8 1.1 0.3 1.9 0.5 2.5 0.8 0.5 0.3 0.9 0.7 1.2 1.1 0.3 0.5 0.5 1.1 0.5 1.8 0 0.6-0.2 1.3-0.5 1.8 -0.4 0.6-0.9 1-1.5 1.3 -0.7 0.3-1.5 0.4-2.5 0.4 -1.4 0-2.5-0.3-3.3-1C287.9 250 287.4 249.1 287.3 247.8z"/><path class="st3" d="M298.4 242.2v-2h2.2v2H298.4zM298.4 251.5v-8.2h2.2v8.2H298.4z"/><path class="st3" d="M306.5 243.3v1.7H305v3.3c0 0.7 0 1.1 0 1.2 0 0.1 0.1 0.2 0.2 0.3 0.1 0.1 0.2 0.1 0.4 0.1 0.2 0 0.5-0.1 0.9-0.2l0.2 1.7c-0.5 0.2-1.1 0.3-1.7 0.3 -0.4 0-0.7-0.1-1.1-0.2 -0.3-0.1-0.5-0.3-0.7-0.5 -0.1-0.2-0.2-0.5-0.3-0.8 0-0.3-0.1-0.8-0.1-1.5V245h-1v-1.7h1v-1.6l2.2-1.3v2.9H306.5z"/><path class="st3" d="M312.7 248.9l2.2 0.4c-0.3 0.8-0.7 1.4-1.3 1.8 -0.6 0.4-1.3 0.6-2.2 0.6 -1.4 0-2.5-0.5-3.2-1.4 -0.5-0.7-0.8-1.7-0.8-2.8 0-1.4 0.4-2.4 1.1-3.2 0.7-0.8 1.6-1.2 2.7-1.2 1.2 0 2.2 0.4 2.9 1.2 0.7 0.8 1 2 1 3.7h-5.4c0 0.6 0.2 1.1 0.5 1.5 0.3 0.4 0.7 0.5 1.2 0.5 0.3 0 0.6-0.1 0.9-0.3C312.4 249.6 312.6 249.3 312.7 248.9zM312.8 246.7c0-0.6-0.2-1.1-0.5-1.4 -0.3-0.3-0.7-0.5-1.1-0.5 -0.5 0-0.9 0.2-1.2 0.5 -0.3 0.3-0.5 0.8-0.5 1.4H312.8z"/><path class="st4" d="M129.9 64c-0.5 0.7-1 1.4-1.5 2.2 1.5 0 2.3-0.8 3.6-1 0.7 1.2-1.4 1.4-1.4 2.7 1.4 0.1 2.9-1.6 3.6-0.5 0.3 1-1.8 1.6-2.2 2.7 0.4 0.2 2.5-0.1 3.6 0 2.1 6.7-3.5 11.9-8.9 12.3 -8.5 0.7-15.6-8-9.9-15.2C119.2 64.2 124.5 62.2 129.9 64z"/><path class="st5" d="M200.2 165.1c-0.3 0.8-2.1 0.2-3.1 0 -7-1.5-15.1-3.9-22-6 -15.9-5-30.8-11.1-42.5-21.3 -6.2-5.4-12.5-13.3-11.6-24.7 0.2-2.6 1.2-4.7 1.7-7 0.4-2 0.3-3.7 0.7-5.3 2.6-10.2 10.4-18.1 18.4-23.9 9.1-6.7 20.5-13 35.1-12.6 -3.5 2.3-7.6 4-10.9 6.5 4.4-0.9 10-2.2 15-1 -12.5 6.7-25.2 13.2-32.9 25.6 -2.4 3.8-5 9.8-4.4 15 0.3 2.8 2.2 6 3.9 8.7 10.8 17.9 29.8 28.3 49.6 37 -8.7-1.3-17.5-4.6-25.9-7 -0.2 0-0.2-0.2-0.5-0.2 7.5 5.5 16.3 10.7 25.6 14.5C197.6 163.9 199.3 163.9 200.2 165.1zM163 72.7c-1.3 0.4-2.6 1.9-3.9 2.9 -7.4 5.9-15.7 14.4-16.4 25.9 -0.1 1.4-0.3 2.9 0.5 4.3 1.5-9.9 7.4-16 13.3-21.5 6-5.6 13.6-9.8 21-14C172.2 70.2 167.1 71.4 163 72.7zM133 136.8c14.9 13.1 38.8 20.7 59.2 26.1 0.4 0.1 0.6-0.3 0-0.2 -6.8-3.3-13.8-7.1-19.8-11.1 -2.1-1.4-4-3.3-6-4.3 -1.1-0.6-2.7-0.7-3.9-1.2 -3.6-1.5-6.9-3.2-10.4-4.8 -13.6-6.6-26.1-14.7-29.7-31.4C120.1 122.5 126.3 130.9 133 136.8z"/></svg></div> </div> <div id="circleG"> <div id="circleG_1" class="circleG"></div> <div id="circleG_2" class="circleG"></div> <div id="circleG_3" class="circleG"></div> <div id="circleG_4" class="circleG"></div> <div id="circleG_5" class="circleG"></div> </div> </div> </div> <link rel="stylesheet" type="text/css" href="//static.naukri.com/s/7/109/c/main.f59532c6.min.css" media="all"/>  <script id="ubScript"> (function() { var queuedSuperProps = []; var queuedEvents = []; window.ub = { track: function(eventName, eventProps) { queuedEvents.push([eventName, eventProps]) }, register: function(properties) { queuedSuperProps.push(properties); } };
            var script = document.createElement("script"); script.async = true;script.trackTdsCookie=true,script.fingerprint=false,script.src = "//static.naukri.com/s/0/1/j/ub_v1.11.min.js";script.onload = function() { ub.init({
                   trackTdsCookie : true, beaconUrl : "https://logs.naukri.com/uba", bulkBeaconUrl : "https://logs.naukri.com/collectorapi/v1/uba/bulk", queuedEvents:queuedEvents, queuedSuperProps:queuedSuperProps,  tenantId:'1' , autoTrack:false, blackList:
                []
            }); };document.head.appendChild(script);}()); ub.register({ appId:109, pageName: "jobsearch",  tenantId:'1' , }); </script>   <script>
    //hack of IE and safari bug : Super expression must either be null or a function, not undefined
    if (typeof HTMLElement !== 'function') {
        var _HTMLElement = function() {};
        _HTMLElement.prototype = HTMLElement.prototype;
        HTMLElement = _HTMLElement;
    }
    </script> <script src="//static.naukri.com/s/7/109/j/vendors~main.7d082bee.min.js" type="text/javascript" defer></script> <script src="//static.naukri.com/s/7/109/j/main.3d561068.min.js" type="text/javascript" defer></script> <script type="text/javascript" src="//static.naukri.com/s/0/0/j/nLoggerJB_v3.0.min.js"></script> <script type="text/javascript">
   window.nLogger && nLogger.init({ "tag": "revamped_srp", "nLogger": { "beaconUrl": "https:\/\/lg.naukri.com\/uba", "eventName": "newMonkError", "deviceType": "SERVER" }, "boomerang": { "logBW": false, "beaconUrl": "https:\/\/lg.naukri.com\/uba", "imageURL": "\/\/static.naukri.com\/s\/0\/0\/i\/", "eventName": "newMonkPerformance", "deviceType": "SERVER" }, "tenantId": 1, "appId": 109, "userIP": "2045974146" });
 </script> <script type="text/javascript">
   (function(w, d, s, l, i) {
     w[l] = w[l] || [];
     w[l].push({
         'gtm.start': new Date().getTime(),
         event: 'gtm.js'
     });
     var f = d.getElementsByTagName(s)[0],
         j = d.createElement(s),
         dl = l != 'dataLayer' ? '&l=' + l : '';
     j.defer = 'defer';
     j.src =
         'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
     f.parentNode.insertBefore(j, f);
   })(window, document, 'script', 'dataLayer', 'GTM-NX744H');
 </script> <script defer src='https://www.googletagservices.com/tag/js/gpt.js'></script> <script>
          var googletag = googletag || {};
          googletag.cmd = googletag.cmd || [];
    </script> <script type="text/javascript"  src="/HL871sifcxYG/DdQjhx/ih6fqq/SEEwVLpr/dAkaXGd6/LGYA/ZE1hHHsB"></script></body> </html>

In [2]:
url="https://www.naukri.com/data-science-jobs"
from selenium import webdriver
browser = webdriver.Chrome()

In [3]:
browser.get(url)
html=browser.page_source

In [4]:
html_parsable=BeautifulSoup(html,'html.parser')

In [5]:
title=[]
for i in html_parsable.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
    for j in i.find_all("div",class_="jobTupleHeader"):
        title.append(j.a.text)

In [6]:
salary=[]
for i in html_parsable.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
    for j in i.find_all("div",class_="jobTupleHeader"):
        salary.append(j.find_all("li")[1].text.strip())

In [7]:
exp=[]
for i in html_parsable.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
    for j in i.find_all("div",class_="jobTupleHeader"):
        exp.append(j.find_all("li")[0].text.strip())

In [8]:
company=[]
for i in html_parsable.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
    for j in i.find_all("div",class_="jobTupleHeader"):
        company.append(j.find("div").find_all("a")[1].text.strip())

In [9]:
loc=[]
for i in html_parsable.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
    for j in i.find_all("div",class_="jobTupleHeader"):
        loc.append(j.find_all("li")[2].text.strip())

In [10]:
import pandas as pd
table=pd.DataFrame({'title':title,'salary':salary,'exp':exp,'org':company,'loc':loc})

In [11]:
table.head()

,title,salary,exp,org,loc
0,Data Science & Analysis (Technology Management),Not disclosed,3-6 Yrs,Morgan Stanley Advantage Services Pvt. Ltd.,Bangalore/Bengaluru
1,Senior Analyst-Data Science,Not disclosed,5-8 Yrs,Accenture,Bangalore/Bengaluru
2,Software Engineer- Data Science,Not disclosed,0-1 Yrs,Evalueserve,"Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Data Science Engineer,"75,00,000 - 90,00,000 PA.",1-4 Yrs,Dell International Services India Private Lim...,Bangalore/Bengaluru
4,Technical leader - Data Science,Not disclosed,5-12 Yrs,Intel,Bangalore/Bengaluru

In [13]:
### Class Excercise: Scrape the information from first 4 pages
def get_data(soup):
    title=[]
    salary=[]
    exp = []
    company = []
    loc = []
    for i in soup.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
        for j in i.find_all("div",class_="jobTupleHeader"):
            title.append(j.a.text)
    for i in soup.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
        for j in i.find_all("div",class_="jobTupleHeader"):
            salary.append(j.find_all("li")[1].text.strip())
    for i in soup.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
        for j in i.find_all("div",class_="jobTupleHeader"):
            exp.append(j.find_all("li")[0].text.strip())
    for i in soup.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
        for j in i.find_all("div",class_="jobTupleHeader"):
            company.append(j.find("div").find_all("a")[1].text.strip())
    for i in soup.find_all("article",class_="jobTuple bgWhite br4 mb-8"):
        for j in i.find_all("div",class_="jobTupleHeader"):
            loc.append(j.find_all("li")[2].text.strip())
    table=pd.DataFrame()
    table['title']=title
    table['company']=company
    table['exp']=exp
    table['loc']=loc
    table['salary']=salary
    return table

In [14]:
browser = webdriver.Chrome()
browser.get(url)
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')
get_data(soup)

,title,company,exp,loc,salary
0,Data Science & Analysis (Technology Management),Morgan Stanley Advantage Services Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
1,Senior Analyst-Data Science,Accenture,5-8 Yrs,Bangalore/Bengaluru,Not disclosed
2,Software Engineer- Data Science,Evalueserve,0-1 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed
3,Data Science Engineer,Dell International Services India Private Lim...,1-4 Yrs,Bangalore/Bengaluru,"75,00,000 - 90,00,000 PA."
4,Technical leader - Data Science,Intel,5-12 Yrs,Bangalore/Bengaluru,Not disclosed
5,Analyst-Data Science,Accenture,3-5 Yrs,Bangalore/Bengaluru,Not disclosed
6,Analyst & Lead For Data Science - Datorama,Omnicom Media Group India Private Limited,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Not disclosed
7,P&A/DAS - Core Data Science - Associate Manager,Accenture,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
8,Data Science - Analyst / Sr. Analyst,BLUCOGNITION PRIVATE LIMITED,2-3 Yrs,Pune(WFH during Covid),Not disclosed
9,P&A/DAS - Core Data Science - Senior Analyst,Accenture,2-5 Yrs,Mumbai,Not disclosed
10,Manager Data Science,Reliance Jio Infocomm Ltd.,8-11 Yrs,Bangalore/Bengaluru,Not disclosed
11,ML Data Science Engineer,Sollys Consulting and Solutions Pvt Ltd,4-6 Yrs,"Mumbai, Pune, Bangalore/Bengaluru",Not disclosed
12,Data Science Manager,CoLearn,4-7 Yrs,Bangalore/Bengaluru,Not disclosed
13,Team Lead/Consultant-Data Science,Accenture,7-11 Yrs,Bangalore/Bengaluru,Not disclosed
14,Principle Data Science,Kaleidofin,8-13 Yrs,"Chennai, Bangalore/Bengaluru",Not disclosed
15,Team Lead/Consultant-Data Science,Accenture,7-11 Yrs,Bangalore/Bengaluru,Not disclosed
16,ACN - Applied Intelligence - Solutions.AI - Da...,Accenture,4-9 Yrs,Bangalore/Bengaluru,Not disclosed
17,Senior Analyst-Data Science,Accenture,5-8 Yrs,Bangalore/Bengaluru,Not disclosed
18,Senior Analyst-Data Science,Accenture,5-8 Yrs,Bangalore/Bengaluru,Not disclosed
19,Senior Analyst-Data Science,Accenture,5-8 Yrs,Bangalore/Bengaluru,Not disclosed

In [15]:
browser.close()

In [22]:
from tqdm import tqdm
import time
base_url="https://www.naukri.com/data-science-jobs-{}"
master=[]
for i in tqdm(range(1,5)):
    url=base_url.format(i)
    browser = webdriver.Chrome()
    browser.get(url)
    time.sleep(1)
    html=browser.page_source
    browser.close()
    soup=BeautifulSoup(html,'html.parser')
    master.append(get_data(soup))

100%|█████████████████████████████████████████████| 4/4 [02:15<00:00, 33.81s/it]

In [24]:
pd.concat([i for i in master])

,title,company,exp,loc,salary
0,Data Science & Analysis (Technology Management),Morgan Stanley Advantage Services Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
1,Senior Analyst-Data Science,Accenture,5-8 Yrs,Bangalore/Bengaluru,Not disclosed
2,Software Engineer- Data Science,Evalueserve,0-1 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed
3,Data Science Engineer,Dell International Services India Private Lim...,1-4 Yrs,Bangalore/Bengaluru,"75,00,000 - 90,00,000 PA."
4,Technical leader - Data Science,Intel,5-12 Yrs,Bangalore/Bengaluru,Not disclosed
...,...,...,...,...,...
15,Sr. Vice President - Analytics - Data Science ...,Huquo Consulting Pvt. Ltd,8-13 Yrs,Gurgaon/Gurugram,Not disclosed
16,Senior Associate(Data Science),KARYA CONSULTANTS PRIVATE LIMITED,2-5 Yrs,Hyderabad/Secunderabad,Not disclosed
17,"Sr. Data Science Engineer, SMAI",Micron Semiconductor Asia Pte Ltd,5-10 Yrs,Hyderabad/Secunderabad,Not disclosed
18,Assistant / Associate Professor Data Science &...,Krea University,1-4 Yrs,Chittoor,Not disclosed
19,Analyst - Data Science,Nuware Systems Pvt Ltd,3-6 Yrs,Bengaluru,Not disclosed

## Extracting data from html tables

In [25]:
### Scraping tables
url="https://www.imdb.com/chart/toptv/?ref_=nv_tvv_250"
browser = webdriver.Chrome()
browser.get(url)

In [26]:
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')

In [27]:
browser.close()

In [28]:
tables=soup.find_all("table",class_="chart full-width")
len(tables)

1

In [29]:
title=[]
year=[]
rating=[]
for row in tables[0].find_all("tr")[1:]:
    data=row.find_all("td")
    title.append(data[1].a.text)
    year.append(data[1].span.text)
    rating.append(data[2].text.strip())

In [30]:
table=pd.DataFrame({'title':title,'year':year,'rating':rating})

In [31]:
table.head()

              title    year rating
0   Planet Earth II  (2016)    9.5
1      Planet Earth  (2006)    9.4
2      Breaking Bad  (2008)    9.4
3  Band of Brothers  (2001)    9.4
4         Chernobyl  (2019)    9.3

In [32]:
url="https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_August_2019"
browser=webdriver.Chrome()
browser.get(url)
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')

In [33]:
browser.close()
len(soup.find_all("table",class_='wikitable'))

1

In [35]:
tables=soup.find_all("table",class_='wikitable')

In [36]:
len(tables)

1

In [37]:
date=[]
typ=[]
dead=[]
inj=[]
loc=[]
details=[]
perp=[]
partof=[]
for row in tables[0].find_all("tr")[1:]:
    data=row.find_all("td")
    date.append(data[0].text.strip())
    typ.append(data[1].text.strip())
    dead.append(data[2].text.strip())
    inj.append(data[3].text.strip())
    loc.append(data[4].text.strip())
    details.append(data[5].text.strip())
    perp.append(data[6].text.strip())
    partof.append(data[7].text.strip())
terror=pd.DataFrame()
terror['date']=date
terror['type']=typ
terror['dead']=dead
terror['inj']=inj
terror['loc']=loc
terror['details']=details
terror['perp']=perp
terror['partof']=partof

In [44]:
### Extracting links:
url="https://en.wikipedia.org/wiki/List_of_terrorist_incidents"
browser=webdriver.Chrome()
browser.get(url)
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')
browser.close()

In [45]:
links=soup.find_all("div",class_="div-col")

In [46]:
len(links)

2

In [47]:
partial_links=[]
for link in links[0].find_all("li"):
    partial_links.append(link.a['href'])

In [49]:
partial_links=pd.Series(partial_links)

In [52]:
partial_links[partial_links=="/wiki/List_of_terrorist_incidents_in_2015"]

45    /wiki/List_of_terrorist_incidents_in_2015
dtype: object

In [54]:
rel_partial_links=partial_links[45:]

In [55]:
base_url="https://en.wikipedia.org{}"

In [57]:
def get_data(soup,i):
    tables=soup.find_all("table",class_='wikitable')
    date=[]
    typ=[]
    dead=[]
    inj=[]
    loc=[]
    details=[]
    perp=[]
    partof=[]
    for row in tables[0].find_all("tr")[1:]:
        data=row.find_all("td")
        date.append(data[0].text.strip())
        typ.append(data[1].text.strip())
        dead.append(data[2].text.strip())
        inj.append(data[3].text.strip())
        loc.append(data[4].text.strip())
        details.append(data[5].text.strip())
        perp.append(data[6].text.strip())
        try:
            partof.append(data[7].text.strip())
        except:
            partof.append("none")
    terror=pd.DataFrame()
    terror['date']=date
    terror['type']=typ
    terror['dead']=dead
    terror['inj']=inj
    terror['loc']=loc
    terror['details']=details
    terror['perp']=perp
    terror['partof']=partof
    terror['url']=i
    return terror

In [58]:
master=[]
browser = webdriver.Chrome()
from tqdm import tqdm
for i in tqdm(rel_partial_links):
    url=base_url.format(i)
    browser.get(url)
    html=browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    master.append(get_data(soup,i))
browser.close()

100%|█████████████████████████████████████████████| 7/7 [00:09<00:00,  1.29s/it]

In [60]:
pd.concat([i for i in master])

,date,type,dead,inj,loc,details,perp,partof,url
0,3–7 Jan,Massacre,UnknownEst. 2000+,Unknown,"Baga, Borno State, Nigeria",2015 Baga massacre,Boko Haram militants opened fire on northern N...,Boko Haram,/wiki/List_of_terrorist_incidents_in_2015
1,5 Jan,Suicide bombing,3 (+2),2,"Arar, Saudi Arabia",January 2015 Arar attack,"Two gunmen, one strapped with a suicide vest, ...",ISIL (suspected),/wiki/List_of_terrorist_incidents_in_2015
2,6 Jan,Suicide bombing,1 (+1),1,"Istanbul, Turkey",January 2015 Istanbul suicide bombing,A female suicide bomber detonated her explosiv...,DHKPC,/wiki/List_of_terrorist_incidents_in_2015
3,7 Jan,Car bomb,37 / 38,66,"Sana'a, Yemen",January 2015 Sana'a bombing,A car bomb detonated in front of a police acad...,al-Qaeda in the Arabian Peninsula (suspected),/wiki/List_of_terrorist_incidents_in_2015
4,7 Jan,Mass shooting,12,11,"Paris, France",Charlie Hebdo shooting,Two heavily armed gunmen entered the Paris off...,al-Qaeda in the Arabian Peninsula[8],/wiki/List_of_terrorist_incidents_in_2015
...,...,...,...,...,...,...,...,...,...
12,3 September,Stabbing,0 (+1),7,"Auckland, New Zealand",2021 Auckland Countdown stabbing,"At 14:40 NZST, seven people were stabbed at th...",ISIL-inspired lone wolf,/wiki/List_of_terrorist_incidents_in_2021
13,15 October,Stabbing,1,0,"Leigh-on-Sea, England",Killing of David Amess,MP David Amess was stabbed multiple times outs...,,/wiki/List_of_terrorist_incidents_in_2021
14,20 October,Bombing,14,3,"Damascus, Syria",2021 Damascus bus bombing,A double bombing of a Syrian Army bus in the S...,Saraya Qasioun[30],/wiki/List_of_terrorist_incidents_in_2021
15,7 November,Drone strike,0,6,"Baghdad, Iraq",Attempted assassination of Mustafa Al-Kadhimi,A failed attempt to assassinate Iraqi Prime Mi...,Unknown,/wiki/List_of_terrorist_incidents_in_2021
16,14 November,Suicide bombing,0 (+1),1,"Liverpool, England",Liverpool Women's Hospital bombing,A IED exploded in a taxi as it arrived at main...,,/wiki/List_of_terrorist_incidents_in_2021

In [61]:
big_table = pd.concat([i for i in master])

In [62]:
### By, year, month,date how many terror incidents have happened
big_table['month']=big_table['url'].map(lambda x:x.split("_")[5])
big_table['year']=big_table['url'].map(lambda x:x.split("_")[-1])
big_table['country']=big_table['loc'].map(lambda x:x.split(",")[-1])

In [63]:
big_table.head()

,date,type,dead,inj,loc,details,perp,partof,url,month,year,country
0,3–7 Jan,Massacre,UnknownEst. 2000+,Unknown,"Baga, Borno State, Nigeria",2015 Baga massacre,Boko Haram militants opened fire on northern N...,Boko Haram,/wiki/List_of_terrorist_incidents_in_2015,2015,2015,Nigeria
1,5 Jan,Suicide bombing,3 (+2),2,"Arar, Saudi Arabia",January 2015 Arar attack,"Two gunmen, one strapped with a suicide vest, ...",ISIL (suspected),/wiki/List_of_terrorist_incidents_in_2015,2015,2015,Saudi Arabia
2,6 Jan,Suicide bombing,1 (+1),1,"Istanbul, Turkey",January 2015 Istanbul suicide bombing,A female suicide bomber detonated her explosiv...,DHKPC,/wiki/List_of_terrorist_incidents_in_2015,2015,2015,Turkey
3,7 Jan,Car bomb,37 / 38,66,"Sana'a, Yemen",January 2015 Sana'a bombing,A car bomb detonated in front of a police acad...,al-Qaeda in the Arabian Peninsula (suspected),/wiki/List_of_terrorist_incidents_in_2015,2015,2015,Yemen
4,7 Jan,Mass shooting,12,11,"Paris, France",Charlie Hebdo shooting,Two heavily armed gunmen entered the Paris off...,al-Qaeda in the Arabian Peninsula[8],/wiki/List_of_terrorist_incidents_in_2015,2015,2015,France

In [64]:
big_table['inj'].unique()

array(['Unknown', '2', '1', '66', '11', '9', '18', '12', '', '108',
       '500+', '6', '10–12', '139', '40+', '351', '28', '79', '115', '0',
       '37', '13', '102', '40', '300+', '227', '27', '3', '4', '17',
       '67+', '130', '104', 'unknown', '16', '212', '20', '123', '3 (+1)',
       '60+', '97-150+', '50', '508', '22', '200+', '368', '5', '7', '23',
       '35', '80', '3–12', '35+', '200', '1 (+1)', '19', '25', '24',
       '56+', '60', '65', '110', '61', '100+', '180', 'Unknown (+6)',
       '33', '125', '36', '340', '21', '347', '86', '75', '165+', '30+',
       '20+', '194+', '~15', 'Around 220 kidnapped', '55', '37+', '30',
       '18 (+1)', '42+ more kidnapped', '53', '25+', '8', '239', '246+',
       '75+', '434', '10+', '260+', '171+', '77 (+3)', '15', '130+',
       '50+', '70', '109', '32 (+1)', '10', '44+', '117+', '119', '102+',
       '95', '30 (+17)', '177', '70+', '155', '47', '63', '122', '~42',
       '87', '43+', '90+', '12+', '63+', '120+', '64', '14', '160+',
       '800+', '413+', '48', '52', '54', '6(+1)', '26', '32', '152', '93',
       '316', '11 (+1)', 'Dozens', '128+', '57', '105', '235', '143',
       '85', '120', '58', '186', '+1 (+Unknown)', '2 (+1)', '91', '165',
       '43', '6 (+1)', '56', '68', '58–70', '49', '1 Kidnapped',
       '270–400+', '6[95]', '45', '650+', '142', 'Several', '150+', '82',
       '78', '136', '0 (+1)', '240'], dtype=object)

In [65]:
import re

In [66]:
pattern=re.compile(r'\d{1,3}')

In [67]:
import numpy as np
def get_injured(row):
    if len(re.findall(pattern,row))==0:
        return np.nan
    elif len(re.findall(pattern,row))==1:
        return re.findall(pattern,row)[0]
    else:
        els=re.findall(pattern,row)
        els=list(map(lambda x:float(x),els))
        els=np.mean(els)
        return els

In [68]:
big_table['inj'].map(lambda x: re.findall(pattern,x)).head(2)

0     []
1    [2]
Name: inj, dtype: object

In [69]:
big_table['inj'].map(get_injured).head()

0    NaN
1      2
2      1
3     66
4     11
Name: inj, dtype: object